<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vocaloid Song Playlist Creator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Vocaloid Playlist Creator</a>
      </div>
    </nav>
    <div class="container my-5">
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{category}} alrt-dismissible fade show d-flex justify-content-between align-items-center"
      >
        <span>{{ message|safe }}</span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <!-- <h1 class="text-center mb-4">Create Your Playlists</h1> -->
      <div class="row">
        {% for key, playlist in playlists.items() %}
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  href="https://vocadb.net/L/{{playlist.list_id}}"
                  target="_blank"
                  >{{playlist.display_name}}</a
                >
              </h5>
              <p class="card-text">{{playlist.description}}</p>
              <form action="{{url_for('create_playlist')}}" method="get">
                <input type="hidden" name="playlist_key" value="{{ key }}" />
                <button type="submit" class="btn btn-primary">
                  Create Playlist
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.1"></script>
    <script>
      // function launchConfetti() {
      //   var duration = 3 * 1000;
      //   var end = Date.now() + duration;
      //   (function frame() {
      //     confetti({
      //       particleCount: 300, // A high number of particles
      //       spread: 180, // Maximum spread (scatter in all directions)
      //       startVelocity: 80, // Very high starting speed
      //       gravity: 1.2, // Slightly increased gravity for quicker fall
      //       origin: { x: Math.random(), y: Math.random() - 0.2 }, // Randomize start a bit
      //       colors: [
      //         '#ff0000',
      //         '#00ff00',
      //         '#0000ff',
      //         '#ffff00',
      //         '#ff00ff',
      //         '#00ffff',
      //       ],
      //       shapes: ['square', 'circle'],
      //       scalar: 1.2,
      //       drift: 0.2,
      //     });
      //     if (Date.now() < end) {
      //       requestAnimationFrame(frame);
      //     }
      //   })();
      // }

      // document.addEventListener('DOMContentLoaded', function () {
      //   if (document.querySelector('.alert-success')) {
      //     launchConfetti();
      //   }
      // });
    </script>
  </body>
</html>
