<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Review Songs</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}"
          >Vocaloid Playlist Creator</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('review') }}"
                >Review Songs</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}"> Logout </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <!-- Table of songs -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="align-middle">Playlist</th>
            <th class="align-middle">Order</th>
            <th class="align-middle">Song Name</th>
            <th class="align-middle">Artist</th>
            <th class="align-middle">VocaDB</th>
            <th class="align-middle">Current Video</th>
            <th class="align-middle">Search</th>
            <th class="align-middle">Change Youtube Video</th>
            <th class="align-middle">Mark as Reviewed</th>
          </tr>
        </thead>
        <tbody>
          {% for song in songs %}
          <tr id="song-{{ song.id }}">
            <td>{{ song.playlist_name }}</td>
            <td>{{ song.original_order }}</td>
            <td>{{ song.song_name }}</td>
            <td>{{ song.artist_name }}</td>
            <td>
              <a
                href="https://vocadb.net/S/{{ song.vocadb_id }}"
                target="_blank"
              >
                View on VocaDB
              </a>
            </td>
            <td class="youtube-link" data-playlist-id="{{song.playlist_id}}">
              {% if song.youtube_video_id is none %} None {% else %}
              <a
                href="https://www.youtube.com/watch?v={{ song.youtube_video_id }}&list={{song.playlist_id}}"
                target="_blank"
              >
                Link
              </a>
              {% endif %}
            </td>
            <td>
              <a
                href="https://www.youtube.com/results?search_query={{ song.song_name|urlencode }}+{{ song.artist_name|urlencode }}"
                target="_blank"
              >
                Link
              </a>
            </td>
            <td>
              <!-- Form to update the YouTube video for this song -->
              <form
                class="update-video-form"
                data-youtube-video-id-old="{{ song.youtube_video_id }}"
                data-song-id="{{song.id}}"
              >
                <input
                  type="hidden"
                  name="playlist_id"
                  value="{{song.playlist_id}}"
                />
                <div class="input-group input-group-sm">
                  <input
                    type="text"
                    name="youtube_video_url"
                    class="form-control"
                    placeholder="YouTube URL"
                  />
                  <button type="submit" class="btn btn-secondary">
                    Change
                  </button>
                </div>
              </form>
            </td>
            <td>
              <!-- Button to mark the song as reviewed -->
              <button
                class="btn btn-success btn-sm mark-reviewed-btn"
                data-song-id="{{ song.id }}"
                data-song-name="{{song.song_name}}"
              >
                Mark
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="toast-container" class="toast-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function showToast(message, type = 'normal') {
        // Get the toast container element
        const toastContainer = document.getElementById('toast-container');

        // Create a new toast element
        const toastDiv = document.createElement('div');
        toastDiv.classList.add('toast');
        if (type === 'success') {
          toastDiv.classList.add('toast-success');
        } else if (type === 'error') {
          toastDiv.classList.add('toast-error');
        }
        toastDiv.setAttribute('role', 'alert');
        toastDiv.setAttribute('aria-live', 'assertive');
        toastDiv.setAttribute('aria-atomic', 'true');

        // Set the inner HTML with the message and the toast header
        toastDiv.innerHTML = `
        <div class="toast-header">
          <strong class="me-auto">Notification</strong>
          <small>Just now</small>
        </div>
        <div class="toast-body">${message}</div>
        `;

        // Append the toast to the container
        toastContainer.appendChild(toastDiv);

        // Initialize the Bootstrap toast with options (optional, e.g., 3-second delay)
        const toast = new bootstrap.Toast(toastDiv, { delay: 4000 });

        // Show the toast
        toast.show();

        // Clean up after the toast has finished showing
        toastDiv.addEventListener('hidden.bs.toast', () => {
          toastDiv.remove(); // Remove the toast from the DOM after it's hidden
        });
      }

      // Example using fetch to update YouTube video ID without reloading the page
      document.querySelectorAll('.update-video-form').forEach((form) => {
        form.addEventListener('submit', function (e) {
          e.preventDefault();
          const youtubeVideoIdOld = this.dataset.youtubeVideoIdOld;
          const youtubeURL = this.querySelector(
            'input[name="youtube_video_url"]'
          ).value;
          const playlist_id = this.querySelector(
            'input[name="playlist_id"]'
          ).value;
          const songId = this.dataset.songId;
          fetch(
            `/update_video?youtube_video_id_old=${youtubeVideoIdOld}&youtube_video_url=${encodeURIComponent(
              youtubeURL
            )}&playlist_id=${encodeURIComponent(
              playlist_id
            )}&song_id=${songId}`,
            {
              method: 'GET',
            }
          )
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                const youtubeVideoIdNew = data.youtube_video_id_new;
                const playlistId = youtubeLinkTd.dataset.playlistId;
                // Update UI dynamically
                document.querySelector(
                  `#song-${songId} .youtube-link a`
                ).href = `https://www.youtube.com/watch?v=${youtubeVideoIdNew}&list=${playlistId}`;

                showToast(`${data.success}`, 'success');
              }
            })
            .catch((err) => console.error(err));
        });
      });

      // Example using fetch to mark a song as reviewed
      document.querySelectorAll('.mark-reviewed-btn').forEach((button) => {
        button.addEventListener('click', function () {
          const songId = this.dataset.songId;
          const songName = this.dataset.songName;
          fetch(`/mark_reviewed?song_id=${songId}&song_name=${songName}`, {
            method: 'GET',
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                const row = document.getElementById(`song-${songId}`);
                row.remove();
                showToast(`${data.success}`, 'success');
              }
            })
            .catch((err) => console.error(err));
        });
      });
    </script>
  </body>
</html>
